.a_administrator {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}


.a_container-fluid h1 {
    color:green;
    background-color:blue;
    text-align: center;

}

.a_container-fluid h2 {
    color:red;
    text-align: center;
}

.a_container-fluid h3 {
    color:blue;
    text-align:center;
}