
.P_Announcement {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkcyan; 
    color: white;
    padding: 10px;
    text-align: center;
}

.P_Announcement p {
    text-align: left;
}
.P_section {
    margin-top: 60px;
    padding: 40px;
    text-align: left;
    background-color: white; 
    color: #333; 
}

.P_container-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.P_container {
    flex: 1;
    padding: 10px;
    border: 1px solid black; 
    margin: 0 10px;
    background-color: lightskyblue;
    color: black;
}

.P_container1 {
    flex: 1;
    padding: 10px;
    border: 1px solid black; 
    margin: 0 10px;
    background-color: lightgrey;
    color: black;
}
.P_container h3 {
    color:black;
    text-align: center;
}

.P_container1 h3 {
    color:black;
    text-align: center;
}